* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    display: grid;
    grid-template-areas:
        'header'
        'hero'
        'fonctionnement'
        'main'
        'footer';
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
.restaurants-container {
    .restaurants-container {
        @include flex(column, center);
    }


    .card {
        background: white;
        width: 340px;
        height: 251px;
        margin: 10px;
        border-radius: 25px 25px 0 0;

        &-image {
            height: 150px;
            margin-bottom: 15px;
            border-radius: 25px 25px 0 0;
            background-size: cover;

            &.image--la-palette {
                background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg ");
            }

            &.image--note-enchantee {
                background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
            }

            &.image--a-la-francaise {
                background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
            }

            &.image--le-delice {
                background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg ");
            }
        }
    }
}
 /* Hero_Section */
.page__hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .hero-title {
    
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     font-size: 24px;
     line-height: 28px;
     text-align: center;
 }

 .hero-Paragraph {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 300;
     font-size: 18px;
     line-height: 21px;
     text-align: center;
 }
// End Hero_Section 

//Fonctionnement_Section 
.page__fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}

.fonctionnement__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__btn-button {
    margin: 10px;
}
.hero__btn-button1 {
   position: relative;
.ellipse {
        position: absolute;
        padding-top: 3px;
        text-align: center;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        border-radius: 50%;
        background: #9356DC;
    }
}
.fa-mobile-screen-button{
    padding-right: 5px;
    padding-left: 13px;
}
// End Fonctionnement_Section 